/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
/*----------------------- common style -----------------*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
p {
    color: #727272;
    font-size: 16px;

}
.border-class:hover {
    border: 2px solid blueviolet;
}
/*------------------------- header style -----------------------*/
.header-area {
    background: rgba(255, 144, 14, 0.1);
}
.header-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.logo h1 {
    font-size: 45px;
}
.main-menu {}
.main-menu ul {
    padding: 0;
}
.main-menu ul li {
    list-style: none;
    display: inline-block;
}
.main-menu ul li a {
    color: #424242;
    font-size: 18px;
    text-decoration: none;
    padding: 0 10px;
    display: block;
}
.main-menu ul li:hover a {
    text-decoration: underline;
}
.header-title {
    padding: 0 230px 0 230px;
    text-align: center;
}
.title {
    font-size: 64px;
}
.button {
    background: #FF900E;
    color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 30px;
    text-transform: capitalize;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}
.header-bnner img {
    width: 100%;
}
/*---------------------- features style -------------------------*/
.our-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 85px;
    grid-column-gap: 41px;
}
.img-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.img-gallery img {
    width: 342px;
}
.gallery-description {
    margin-top: 192px;
}
/*------------------------------ our-exprience -------------------------------*/
.our-exprience {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 52px;
}
.right img {
    width: 100%;
}
.box {
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}
/*-------------------- our-services style --------------------*/
.our-services {
    margin-top: 130px;
}
.services-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 124px;
    padding-top: 100px;
}
.another-box {
    text-align: center;
    padding: 45px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    
}
.another-box:hover {
    transform: rotate(30deg);
}

/*------------------------- our sponspors style  -----------------------*/
.our-sponspors {
    padding: 150px 0;
}
.section-top {
    text-align: center;
}
.sponspors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 154px;
    padding-top: 50px;
}
/*----------------------------------- portfolio ---------------------------------*/
.portfolio {
    box-sizing: border-box;
    box-shadow: 5px 10px 15px gray;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

/*---------------------------------- footer --------------------------*/
.bg-color {
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin: 170px 0;
    padding: 38px 300px;
}






/*---------------------------------- media quary ----------------------------*/
/*--------------------------------- 
mobile device
 ----------------------------*/

 @media all and (max-width: 668px){
    .container {
        width: 100%;
    }
    .header-top {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .header-title {
        padding: 0;
    }
    .main-menu ul li {
        width: 100%;
        background: #ffffff;
    }
    .our-features, .img-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .img-gallery {
        align-items: center;
    }
    .img-gallery img {
        width: 100%;
    }
    .our-exprience {
        grid-template-columns: repeat(1, 1fr);
    }
    .sponspors, .services-box {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 124px;
    }
 }